/* 
Mobile Styling... Line 6
Boot Strap Carousell Styling... Line 64
Burger Menu Styling... Line 917
Responsive 480px Styling... Line 950
Responsive 768px Styling... Line 1130
Responsive 1100px Styling... Line 1381
*/

/* GLOBAL */
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Raleway, Arial, Helvetica, sans-serif;
  text-align: center;
}

.margin-top-1 {
  margin-top: 1rem;
}

.btn {
  margin-top: 2rem;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  color: #d8dce0;
  background: none;
  border: solid 2px #d8dce0;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  color: rgba(255, 255, 255, 0.35);
  border: solid 2px rgba(255, 255, 255, 0.35);
}

.btn:focus {
  outline: none;
}

.blue-hr {
  margin: 1rem auto;
  background: #023061;
  border: none;
  height: 3px;
  width: 20%;
  max-width: 60px;
}

/*********************************************/
/* BOOT STRAP CAROUSEL */
.carousel {
  position: relative;
}

.carousel.pointer-event {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-inner::after {
  display: block;
  clear: both;
  content: "";
}

.carousel-item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: -webkit-transform 0.6s ease-in-out;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .carousel-item {
    -webkit-transition: none;
    transition: none;
  }
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}

.carousel-item-next:not(.carousel-item-left),
.active.carousel-item-right {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.carousel-item-prev:not(.carousel-item-right),
.active.carousel-item-left {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.carousel-fade .carousel-item {
  opacity: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transform: none;
  transform: none;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
  z-index: 1;
  opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
  z-index: 0;
  opacity: 0;
  -webkit-transition: opacity 0s 0.6s;
  transition: opacity 0s 0.6s;
}

@media (prefers-reduced-motion: reduce) {
  .carousel-fade .active.carousel-item-left,
  .carousel-fade .active.carousel-item-right {
    -webkit-transition: none;
    transition: none;
  }
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  width: 15%;
  color: #515151;
  text-align: center;
  opacity: 0.5;
  -webkit-transition: opacity 0.15s ease;
  transition: opacity 0.15s ease;
}

@media (prefers-reduced-motion: reduce) {
  .carousel-control-prev,
  .carousel-control-next {
    -webkit-transition: none;
    transition: none;
  }
}

.carousel-control-prev:hover, .carousel-control-prev:focus,
.carousel-control-next:hover,
.carousel-control-next:focus {
  color: #515151;
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-next {
  right: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: no-repeat 50% / 100% 100%;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%515151' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%515151' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}

.carousel-indicators li {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
          flex: 0 1 auto;
  width: 30px;
  height: 3px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: .5;
  -webkit-transition: opacity 0.6s ease;
  transition: opacity 0.6s ease;
}

@media (prefers-reduced-motion: reduce) {
  .carousel-indicators li {
    -webkit-transition: none;
    transition: none;
  }
}

.carousel-indicators .active {
  opacity: 1;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
  white-space: normal;
}

/*********************************************/
/* NAV */
header {
  position: absolute;
  top: 0;
  height: 15vh;
  width: 100%;
  padding: 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.15rem;
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
}

.logo span {
  font-weight: 200;
}

.menu {
  display: none;
  list-style: none;
}

.menu a {
  text-decoration: none;
  color: #000000;
  font-weight: 400;
  font-size: 1.4rem;
}

.menu a:hover {
  text-decoration: underline;
}

/*********************************************/
/* LANDING */
#landing {
  background: url(../img/intro-bg.png) no-repeat center/cover;
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  text-align: center;
}

.landing-subtitle {
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  color: #ccc;
  font-weight: 400;
  font-size: 1rem;
  padding-bottom: 0.5rem;
}

.landing-title {
  font-size: 2.3rem;
  font-weight: 100;
  color: #ccc;
}

.landing-title span {
  font-weight: 600;
  color: #fff;
}

/*********************************************/
/* FEATURED HOMES */
#featured-homes {
  min-height: 100vh;
}

.featured-subtitle {
  font-size: 0.7rem;
  margin-bottom: 0.25rem;
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  color: #919191;
}

.featured-title {
  font-size: 1.3rem;
  font-weight: 500;
}

.featured-title-bold {
  font-weight: 600;
}

.featured-card-cnt {
  max-width: 940px;
  margin: 1rem auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.featured-card {
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  width: 85vw;
  padding-bottom: 1.5rem;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-top: 2rem;
}

.featured-card-img {
  width: 100%;
}

.featured-card-address {
  margin-top: 0.75rem;
  font-size: 0.9rem;
  font-weight: 400;
}

.featured-card-price {
  margin-top: 0.5rem;
  font-weight: 700;
  font-size: 1.5rem;
}

.featured-card-icon-cnt {
  margin-top: 0.75rem;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.featured-card-icon-cnt > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.featured-card-icon-cnt p {
  margin-left: 0.5rem;
  font-weight: 700;
}

.featured-card-showing {
  color: #48698D;
  text-decoration: underline !important;
}

/*********************************************/
/* ABOUT */
#about {
  margin-top: 4rem;
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
}

.about-cnt {
  background: #023061;
  padding: 2rem 0;
}

.about-img {
  width: 60%;
}

.about-text {
  color: #eee;
  width: 85%;
  margin: 0 auto;
}

.about-text-title {
  margin-top: 0.5rem;
  font-weight: 200;
  font-size: 2rem;
}

.about-text-title span {
  font-weight: 600;
}

.about-text-subtitle {
  margin-top: 0.25rem;
  font-size: 0.7rem;
}

.about-text-hr {
  height: 3px;
  width: 20%;
  border: none;
  background: #fff;
  margin: 1rem auto;
}

.about-text-desc {
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 200;
}

/*********************************************/
/* TESTIMONIALS */
#testimonials {
  padding-top: 4rem;
}

.testimonials-title {
  margin-top: 0.5rem;
}

.testimonials-subtitle {
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  color: #919191;
}

#carouselExampleControls {
  margin-top: 2rem;
}

.carousel-item {
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  padding: 0 15vw;
}

/*********************************************/
/* BUY OR SELL */
#buy {
  padding-top: 3rem;
  margin-bottom: 3rem;
}

.buy-cnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.buy-cnt-img {
  width: 100%;
}

.buy-cnt-content {
  padding: 2.5rem 0;
  background: #E5EAEF;
}

.buy-cnt-content-title {
  font-size: 2rem;
  font-weight: 200;
}

.buy-cnt-content-title span {
  font-weight: 600;
}

.buy-cnt-content-desc {
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  width: 85vw;
  margin: 0 auto;
}

.buy-cnt-content .btn {
  color: #000;
  border: solid 2px #000;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.buy-cnt-content .btn:hover {
  color: rgba(0, 0, 0, 0.5);
  border: solid 2px rgba(0, 0, 0, 0.55);
}

/*********************************************/
/* CONTACT */
#contact {
  background: url(../img/contact-bg.png);
  padding-bottom: 1rem;
}

#contact hr {
  margin-bottom: 2rem;
}

.contact-subtitle {
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  color: #919191;
}

.contact-title {
  font-weight: 200;
  margin-top: 0.5rem;
}

.contact-title span {
  font-weight: 600;
}

.contact-cnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 650px;
  margin: 0 auto;
}

.contact-cnt-item {
  margin-bottom: 2rem;
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-cnt-item img {
  margin-bottom: 0.5rem;
}

.contact-cnt-item .subtle {
  font-size: 1.1rem;
  color: #919191;
  margin-bottom: 0.25rem;
}

.contact-cnt-item .bold {
  font-weight: 500;
  font-size: 1.3rem;
}

.contact-form-header {
  color: #023061;
  font-weight: 700;
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
}

.contact-form-cnt {
  margin-top: 1rem;
  width: 85vw;
  margin: 0 auto;
  color: #000;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border: 1px solid #919191;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 1rem;
  resize: none;
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
}

input[type=text]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #000;
  font-weight: 600;
}

input[type=text]:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #000;
  font-weight: 600;
}

input[type=text]::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #000;
  font-weight: 600;
}

input[type=text]::placeholder,
textarea::placeholder {
  color: #000;
  font-weight: 600;
}

input[type=text]:focus,
textarea:focus {
  border: 1px solid #023061;
}

input[type=submit] {
  padding: 0.75rem 1rem;
  background: #023061;
  border: none;
  font-size: 0.9rem;
  font-weight: 500;
  color: #DBE1E9;
  width: 50%;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

input[type=submit]:hover {
  background: rgba(2, 48, 97, 0.8);
}

/*********************************************/
/* FOOTER */
.gallery-cnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery-cnt img {
  width: 19vw;
}

.footer-cnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #023061;
  color: #eee;
  padding: 2rem 0;
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
}

.footer-cnt-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-cnt-content-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-cnt-content-logo > p {
  font-size: 1.7rem;
  font-weight: 200;
}

.footer-cnt-content-logo > p span {
  font-weight: 600;
}

.footer-cnt-content-logo .footer-socials-cnt {
  padding-top: 0.5rem;
  width: 45vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: auto;
  cursor: pointer;
}

.footer-nav {
  padding-top: 3rem;
  list-style: none;
  text-align: center;
}

.footer-nav li {
  padding-bottom: 0.25rem;
}

.footer-nav a {
  color: #eee;
  text-decoration: none;
}

.footer-nav a:hover {
  text-decoration: underline;
}

.footer-location-cnt {
  padding-top: 3rem;
}

.footer-location-header {
  font-size: 1.5rem;
  font-weight: 600;
}

.footer-location-content-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-location-content-right a {
  color: #eee;
}

.footer-location-content-right a:hover {
  text-decoration: none;
}

.footer-location-img {
  padding-top: 1rem;
  width: 70vw;
  margin: 0 auto;
}

.footer-hr {
  margin: 2rem auto;
  width: 85vw;
  border: none;
  background: #395069;
  height: 1px;
}

.credits {
  font-weight: 200;
  font-size: 0.8rem;
}

/*********************************************/
/* BURGER MENU STYLING */
.menu-active {
  position: absolute;
  right: 0px;
  top: 15vh;
  height: 85vh;
  background: rgba(255, 255, 255, 0.95);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: -webkit-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  padding-bottom: 4rem;
}

.burger {
  cursor: pointer;
}

/*********************************************/
/* RESPONSIVE */
@media only screen and (min-width: 480px) {
  /* GLOBAL */
  .blue-hr {
    width: 10vw;
    height: 4px;
  }
  /*********************************************/
  /* NAV */
  nav {
    width: 80vw;
    margin: 0 auto;
  }
  /*********************************************/
  /* LANDING */
  .landing-subtitle {
    font-size: 1.1rem;
  }
  .landing-title {
    font-size: 2.6rem;
  }
  #landing .btn {
    margin-top: 3rem;
  }
  /*********************************************/
  /* FEATURED HOMES */
  .featured-subtitle {
    font-size: 1rem;
  }
  .featured-title {
    font-size: 1.6rem;
  }
  #featured-homes .blue-hr {
    margin-top: 2rem;
  }
  .featured-card-cnt {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .featured-card {
    max-width: 300px;
    margin: 2rem 0.25rem;
  }
  /*********************************************/
  /* ABOUT */
  .about-img {
    width: 40%;
  }
  .about-text hr {
    width: 10%;
    height: 3px;
  }
  /*********************************************/
  /* TESTIMONIALS */
  .testimonials-title {
    font-size: 2rem;
  }
  .testimonials-subtitle {
    font-size: 1.3rem;
  }
  .carousel-inner {
    min-height: 60vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .carousel-item {
    padding: 2rem 15vw;
  }
  .ratings-cnt-item:nth-child(2) {
    padding-top: 2rem;
  }
  /*********************************************/
  /* CONTACT */
  #contact {
    padding-bottom: 3rem;
  }
  .contact-cnt {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .contact-cnt-item {
    padding: 0 1rem;
  }
  .contact-subtitle {
    margin-top: 3rem;
  }
  .contact-form-cnt form {
    max-width: 430px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contact-form-cnt form input[type=text], .contact-form-cnt form select {
    width: 47.5%;
  }
  .contact-form-cnt form input[type=submit] {
    margin: 0 auto;
  }
  /*********************************************/
  /* FOOTER */
  .footer-cnt {
    padding-top: 5rem;
  }
  .footer-socials-cnt {
    max-width: 130px;
  }
  .footer-nav {
    padding-top: 4rem;
  }
  .footer-nav a {
    font-size: 1.2rem;
  }
  .footer-location-cnt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-location-cnt .footer-location-content {
    text-align: right;
    height: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer-location-cnt .footer-location-content > p {
    font-size: 1.2rem;
  }
  .footer-location-cnt .footer-location-content > div {
    font-size: 1.1rem;
  }
  .footer-location-cnt > img {
    max-width: 250px;
    margin: 0;
    padding-left: 1rem;
    padding-top: 0;
  }
  .credits {
    font-size: 1rem;
  }
  /*********************************************/
}

@media only screen and (min-width: 768px) {
  /* GLOBAL */
  .margin-top-1 {
    margin: 0;
  }
  /*********************************************/
  /* NAV */
  .logo-primary {
    font-size: 1.6rem;
    font-weight: 700;
  }
  .logo-primary span {
    font-weight: 100;
  }
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu a {
    color: #eee;
    font-weight: 600;
    font-size: 0.9rem;
  }
  .menu-item:nth-child(n+2) {
    padding-left: 1rem;
  }
  .menu-active {
    position: static;
    height: auto;
    width: auto;
    background: transparent;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0;
  }
  .burger {
    display: none;
  }
  /*********************************************/
  /* LANDING */
  .landing-subtitle {
    padding-bottom: 1rem;
  }
  #landing .btn {
    font-weight: 400;
    letter-spacing: 0.1rem;
    padding: 0.75rem 2rem;
  }
  /*********************************************/
  /* FEATURED HOMES */
  .featured-subtitle {
    margin-bottom: 1rem;
  }
  /*********************************************/
  /* ABOUT */
  .about-cnt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 2rem 2rem;
  }
  .about-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 3rem;
    text-align: left;
    width: 45%;
  }
  .about-text-subtitle {
    font-size: 0.8rem;
  }
  .about-text hr {
    margin: 1rem auto 1rem 0;
    width: 10vw;
    height: 4px;
  }
  .about-text-desc {
    font-size: 0.8rem;
  }
  #about .btn {
    width: 25vw;
    max-width: 200px;
  }
  /*********************************************/
  /* TESTIMONIALS */
  .ratings-cnt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .ratings-cnt-item:nth-child(2) {
    padding: 0 0 0 1rem;
  }
  .carousel-inner {
    min-height: 40vh;
  }
  #carouselExampleControls {
    margin-top: 0;
  }
  /*********************************************/
  /* BUY OR SELL */
  .buy-cnt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .buy-cnt:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .buy-cnt-img {
    width: 50%;
    height: 50%;
  }
  .buy-cnt-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 50vw;
    padding: 1rem 2rem;
    text-align: left;
  }
  .buy-cnt-content-title {
    font-size: 1.5rem;
  }
  .buy-cnt-content-desc {
    font-size: 0.8rem;
    width: 100%;
    margin: 0;
  }
  .buy-cnt-content hr {
    margin: 1rem auto 1rem 0;
  }
  .buy-cnt-content .btn {
    margin-top: 1rem;
    font-size: 0.8rem;
    max-width: 25vw;
  }
  /*********************************************/
  /* CONTACT */
  #contact hr {
    margin-bottom: 4rem;
  }
  .contact-cnt img {
    margin-bottom: 1rem;
  }
  .contact-cnt .subtle {
    font-size: 0.9rem;
  }
  .contact-cnt .bold {
    font-size: 0.9rem;
  }
  /*********************************************/
  /* FOOTER */
  .gallery-cnt img {
    width: 19.8vw;
  }
  .footer-cnt {
    padding-top: 3rem;
  }
  .footer-cnt-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-cnt-content-logo > p {
    font-size: 1.3rem;
  }
  .footer-cnt-content-logo .footer-socials-cnt {
    width: 90%;
  }
  .footer-cnt-content-logo .footer-socials-cnt img {
    width: 13%;
  }
  .footer-nav {
    padding: 0;
  }
  .footer-nav a {
    font-size: 0.8rem;
  }
  .footer-location-cnt {
    padding: 0;
  }
  .footer-location-cnt .footer-location-content {
    height: 90px;
  }
  .footer-location-cnt .footer-location-content p {
    font-size: 0.8rem;
  }
  .footer-location-cnt .footer-location-content > div {
    font-size: 0.9rem;
  }
  .footer-location-cnt .footer-location-header {
    font-size: 0.5rem;
  }
  .footer-location-img {
    width: 200px;
  }
  .credits {
    font-size: 0.8rem;
  }
  /*********************************************/
}

@media only screen and (min-width: 1100px) {
  /* NAV */
  .logo-primary {
    font-size: 2rem;
  }
  .menu-item:nth-child(n+2) {
    padding-left: 2rem;
  }
  /*********************************************/
  /* LANDING */
  .landing-subtitle {
    font-size: 1.4rem;
  }
  .landing-title {
    font-size: 3rem;
  }
  #landing .btn {
    padding: 0.85rem 2.5rem;
  }
  /*********************************************/
  /* FEATURED HOMES */
  #featured-homes {
    padding-top: 3.5rem;
  }
  /*********************************************/
  /* ABOUT */
  .about-cnt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-img {
    width: 25%;
  }
  .about-text {
    margin: 0 0 0 3rem;
    width: 40%;
  }
  .about-text-title {
    font-size: 2.5rem;
  }
  .about-text-subtitle {
    font-size: 0.9rem;
  }
  .about-text hr {
    width: 3vw;
    margin: 2rem 0;
  }
  .about-text-desc {
    font-size: 1rem;
  }
  /*********************************************/
  /* BUY OR SELL */
  .buy-cnt-content {
    padding: 2rem 0 2rem 4rem;
  }
  .buy-cnt-content-title {
    font-size: 2rem;
  }
  .buy-cnt-content-title span {
    font-weight: 600;
  }
  .buy-cnt-content-desc {
    font-size: 1rem;
    width: 70%;
  }
  .buy-cnt-content .btn {
    font-size: 1rem;
    width: 35%;
  }
  .buy-cnt-content .extra-width {
    width: 60%;
  }
  /*********************************************/
}